.titlewrap .dl, .titlewrap .dr{
    vertical-align:middle;
}
.titlewrap .title{
    display:inline-block;
    *display:inline;
    font-size:15px;
    color:#8e8e8b;
}


.MarginForm{
    margin-top: 10%;
    padding-left: 10px;
    width: 300px;
}

html { overflow-y: hidden;
       overflow:hidden;
       overflow-x: hidden;
}


.MarginButton{
    margin-top: 50%;

    padding-top: 50px;
}

.btnAlerta {
  background: #d93434;
  background-image: -webkit-linear-gradient(top, #d93434, #ff0000);
  background-image: -moz-linear-gradient(top, #d93434, #ff0000);
  background-image: -ms-linear-gradient(top, #d93434, #ff0000);
  background-image: -o-linear-gradient(top, #d93434, #ff0000);
  background-image: linear-gradient(to bottom, #d93434, #ff0000);
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btnAlerta:hover {
  background: #fc3c3c;
  text-decoration: none;
}


.btnColor{
    color:#ffffff;
}


.nd2-card {
    display: block;
    border-radius: 4px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    margin: 15px auto;
    max-width: 500px;
    height: 400px;
    overflow: hidden;
    padding-top: 50px;
}

.Alerta{
    width: 40px;
}